body {
    align-items: center;

    background-color: #2a2a2a;

    color: white;

    display: flex;

    flex-direction: row;

    justify-content: center;

    margin: 0;

    /* bad on mobile after testing: */
    /* height: 100vh; */
    /* touch-action: none; */
}

nav {
    width: 15vw;
    /* background-color: #333; */
    background-color: #2a2a2a;

    padding: 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;


    /* width: 100%; */
    /* background-color: black; */
    /* padding: 1vw 0; */
    /* text-align: center; */

    /* width: 100%; */
    /* padding: 10px 20px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
    color: white;
    z-index: 10000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 2vw 0;
    font-size: 20px;
    /* margin: 0 15px; */
    /* font-size: 18px; */
}

nav a:hover {
    text-decoration: underline;
}

#card-table {
    position: relative;

    width: 1280px;
    height: 720px;

    background-color: green;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    overflow: auto;

    touch-action: none;
}

.card {
    position: absolute;
    width: 110px;
    height: 146px;

    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: grab;
    color: black;

    /* background */
    background-color: white;
    background-image: url('/static/card-back-red.png');
    background-position: center;
    background-repeat: no-repeat; /* Prevent tiling of the image */
    background-size: 100% 100%; /* Scale to fit the div's width and height */

    user-select: none;
    touch-action: none;

    z-index: 1;
}

.card_cover {
    background-image: url('/static/card-back-red.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card_face {
    background-image: none;
    background-color: white;
}

.card:active {
    cursor: grabbing;
}

/* Chip styles */
.chip {
    position: absolute;

    background-size: 100% 100%; /* Scale the image to cover the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling of the image */

    border-radius: 50%; /* Make it circular */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Add a 3D effect */

    color: black;
    display: flex;
    cursor: grab;

    align-items: center;
    justify-content: center;

    font-size: 26px;
    font-weight: bold;
    text-align: center;

    width: 70px;
    height: 70px;

    user-select: none;

    z-index: 2;

    touch-action: none;
}

.chip:active {
    cursor: grabbing;
}

.chip-gray {
    background-image: url('/static/chip-gray.png');
}

.chip-red {
    background-image: url('/static/chip-red.png');
}

.chip-blue {
    background-image: url('/static/chip-blue.png');
}

.chip-green {
    background-image: url('/static/chip-green.png');
}

.chip-black {
    background-image: url('/static/chip-black.png');
}

.fancy_text {
    /* fancy text style */
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
}

.slot {
    background-color: transparent;

    border: 2px dashed white;
    border-radius: 8px;

    color: white;

    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;

    position: absolute;

    text-align: left;

    user-select: none;

    pointer-events: none;
    z-index: 10000;
}

.player_slot {
    height: 180px;
    width: 400px;
}

#slot-0 {
    top: 590px;
    left: 0px;
}

#slot-1 {
    top: 0px;
    left: 870px;
}

#slot-2 {
    top: 590px;
    left: 870px;
}

#round-slot {
    left: 340px;
    top: 240px;

    height: 290px;
    width: 600px;
}

#game-slot {
    left: 540px;
    top: 590px;

    height: 150px;
    width: 200px;
}

.dealer {
    position: absolute;

    /* border: 1px solid; */
    /* border-color: black; */
    background-color: white;
    background-size: 100% 100%; /* Scale the image to cover the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling of the image */

    border-radius: 50%; /* Make it circular */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Add a 3D effect */

    color: black;
    display: flex;
    cursor: grab;

    align-items: center;
    justify-content: center;

    font-size: 22px;
    font-weight: bold;
    text-align: center;

    width: 90px;
    height: 90px;

    user-select: none;
    z-index: 500;
    touch-action: none;
}

.dealer:active {
    cursor: grabbing;
}

/* Player styles */
.player {
    position: absolute;

    background-color: transparent;

    color: black;
    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 28px;
    /* DOES NOT EXIST EVERYWHERE: font-family: "Copperplate", "Papyrus", fantasy; */
    font-family: Helvetica;
    font-weight: bold;

    text-align: center;

    user-select: none;

    width: 140px;
    height: 90px;

    z-index: 10000;
    pointer-events: none
}

.player_0 {
    color: #FF5733;  /* Red */
    top: 680px;
    left: 0px;
}

.player_1 {
    color: #9B59B6; /* Purple */
    top: 0px;
    left: 1136px
}

.player_2 {
    color: #2ECC71; /* Green */
    top: 680px;
    left: 1136px;
}

.owned {
    border: 7px solid;
}

.was_owned {
    border: 7px dashed;
}

.owned_by_0 {
    border: 3px solid;
    border-color: #FF5733;
}

.owned_by_1 {
    border: 3px solid;
    border-color: #9B59B6;
}

.owned_by_2 {
    border: 3px solid;
    border-color: #2ECC71;
}

#error-banner {
    position: fixed;
    top: 90px;

    display: none;

    font-size: 22;
    font-weight: bold;

    background-color: #D93025;
    color: #ffffff;

    text-align: center;

    padding: 10px;
    z-index: 10000;
    width: 100%;
}
