body {
    align-items: center;

    background-color: #2a2a2a;

    color: white;

    display: flex;

    flex-direction: row;

    justify-content: center;

    margin: 0;

    /* bad on mobile after testing: */
    /* height: 100vh; */
    /* touch-action: none; */
}

nav {
    width: 15vw;
    /* background-color: #333; */
    background-color: #2a2a2a;

    padding: 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;


    /* width: 100%; */
    /* background-color: black; */
    /* padding: 1vw 0; */
    /* text-align: center; */

    /* width: 100%; */
    /* padding: 10px 20px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
    color: white;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 2vw 0;
    font-size: 26px;
    /* margin: 0 15px; */
    /* font-size: 18px; */
}

nav a:hover {
    text-decoration: underline;
}

#card-table {
    position: relative;

    width: 1024px;
    height: 768px;
    background-color: green;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    overflow: auto;
}

.card {
    position: absolute;
    width: 110px;
    height: 146px;

    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: grab;
    color: black;
    user-select: none;

    /* background */
    background-color: white;
    background-image: url('/static/card-back-red.png');
    background-position: center;
    background-repeat: no-repeat; /* Prevent tiling of the image */
    background-size: 100% 100%; /* Scale to fit the div's width and height */

    touch-action: none;
}

.card-cover {
    background-image: url('/static/card-back-red.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card-face {
    background-image: none;
    background-color: white;
}

.card:active {
    cursor: grabbing;
}

/* Chip styles */
.chip {
    position: absolute;

    background-size: 100% 100%; /* Scale the image to cover the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling of the image */

    border-radius: 50%; /* Make it circular */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Add a 3D effect */

    color: black;
    display: flex;
    cursor: grab;

    align-items: center;
    justify-content: center;

    font-size: 26px;
    font-weight: bold;
    text-align: center;

    width: 70px;
    height: 70px;

    user-select: none;

    z-index: 1;

    touch-action: none;
}

.chip:active {
    cursor: grabbing;
}

.chip-gray {
    background-image: url('/static/chip-gray.png');
}

.chip-red {
    background-image: url('/static/chip-red.png');
}

.chip-blue {
    background-image: url('/static/chip-blue.png');
}

.chip-green {
    background-image: url('/static/chip-green.png');
}

.chip-black {
    background-image: url('/static/chip-black.png');
}

.player_slot {
    border: 2px dashed white;
    position: absolute;
    background-color: transparent;
    border-radius: 8px;

    color: white;

    font-size: 26px;


    width: 360px;
    height: 170px;
}

#open-slot {
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;

    background-color: transparent;
    border: 2px dashed white;
    border-radius: 8px;

    font-family: Helvetica;
    font-weight: bold;

    font-size: 26px;

    width: 600px;
    height: 290px;

    position: absolute;

    text-align: left;

    left: 200px;
    top: 240px;
}

.dealer {
    position: absolute;

    /* border: 1px solid; */
    /* border-color: black; */
    background-color: white;
    background-size: 100% 100%; /* Scale the image to cover the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling of the image */

    border-radius: 50%; /* Make it circular */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Add a 3D effect */

    color: black;
    display: flex;
    cursor: grab;

    align-items: center;
    justify-content: center;

    font-size: 22px;
    font-weight: bold;
    text-align: center;

    width: 90px;
    height: 90px;

    user-select: none;
    z-index: 500;
    touch-action: none;
}

.dealer:active {
    cursor: grabbing;
}

/* Player styles */
.player {
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;

    position: absolute;

    background-color: transparent;
    /* background-image: url('/static/player.png'); */
    /* opacity: 1; */

    /* border: 1px solid; */
    /* border-color: black; */
    /* border-radius: 50%; /1* Make it circular *1/ */

    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /1* Add a 3D effect *1/ */

    color: black;
    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 28px;
    /* DOES NOT EXIST EVERYWHERE: font-family: "Copperplate", "Papyrus", fantasy; */
    font-family: Helvetica;
    font-weight: bold;

    text-align: center;

    user-select: none;

    width: 140px;
    height: 90px;

    z-index: 0;
}

/*
    color: #3498DB; Blue
    color: #F1C40F; Yellow
*/

.player_0 {
    color: #FF5733;  /* Red */
    top: 680px;
    left: 0px
}

#slot-0 {
    top: 590px;
    left: 0px;
}

.player_1 {
    color: #9B59B6; /* Purple */
    top: 0px;
    left: 880px
}

#slot-1 {
    top: 0px;
    left: 660px;
}

.player_2 {
    color: #2ECC71; /* Green */
    top: 680px;
    left: 880px
}

#slot-2 {
    top: 590px;
    left: 660px;
}

.owned {
    border: 7px solid;
    /* border-color: purple; */
}

.owned_by_0 {
    border: 3px solid;
    border-color: #FF5733;
}

.owned_by_1 {
    border: 3px solid;
    border-color: #9B59B6;
}

.owned_by_2 {
    border: 3px solid;
    border-color: #2ECC71;
}

#error-banner {
    position: fixed;
    top: 90px;

    display: none;

    font-size: 22;
    font-weight: bold;

    background-color: #D93025;
    color: #ffffff;

    text-align: center;

    padding: 10px;
    z-index: 1000;
    width: 100%;
}
